# systemd service for managing all postfix autoconfiguration.

[Unit]
Description=Postfix Configuration Autodiscovery

[Install]
WantedBy=multi-user.target

